#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.single-article {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
}
.single-article-img {
  margin: 20px;
}
.preview-articles {
  margin: 50px;
}
.body-single-article {
  text-align: start;
}

.list-single-article {
  justify-items: center;
  --bs-list-group-border-color: none;
  --bs-list-group-border-width: none;
  --bs-list-group-border-radius: none;
}
.single-article-title {
  text-align: start;
  padding-left: 20px;
}

.card-comment-body {
  text-align: start;
}
.comment-card-header p {
  margin-bottom: 0;
}
.comment-body {
  display: block;
  margin: 0 auto;
}
.comment-container {
  margin-top: 50px;
}
.vote-button {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.75rem;
}
.add-comment-container{
  display: block;
  margin: 0 auto;
  max-width: 440px;

}
.alert-no-comment{
  display: block;
  margin: 0 auto;
}
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* .card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
